@import './base.css';
@import 'tailwindcss';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-radius: 15px;
  padding: 10px;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: white;
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
